<%= form_for(@membership) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.match(@user_id), :id, :name %>
  </div>

  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.collection_select :group_id, Group.belongs_to_course(@course_id), :id, :name %>    
  </div>

  <br />  

  <div class="actions">
    <%= f.submit 'Add to Group', class: 'btn btn-sm btn-primary' %><br />
  </div>
<% end %>
