<%= form_for(@input) do |f| %>
  <% if @input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@input.errors.count, "error") %> prohibited this input from being saved:</h2>

      <ul>
        <% @input.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_name %><br />
    <%= f.collection_select :group_name, current_user.groups.uniq, :name, :name, prompt: true %>
  </div>

  <div class="field">
    <%= f.label :money_left %><br />
    <%= f.number_field :money_left, step: 1 %>
  </div>

  <div class="field">
    <%= f.label :vaccines %><br />
    <%= f.number_field :vaccines, step: 1 %>
  </div>

  <div class="field">
    <%= f.label :ads %><br />
    <%= f.number_field :ads, step: 1 %>
  </div>

  <div class="field">
    <%= f.label :school_off %><br />
    <%= f.number_field :school_off, in: 0..1, step: 1 %>
  </div>

  <div class="field">
    <%= f.label :days %><br />
    <%= f.number_field :days, in: 0..365, step: 1 %>
  </div>

  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
