<div class="panel-heading">Inputs</div>

<div class="panel-body">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Group Name</th>
      <th>Remaining Budget</th>
      <th>Vaccines</th>
      <th>Advertising</th>
      <th>Schools closed?</th>
      <th>Simulation Days</th>
      <th colspan="3">Controls</th>
    </tr>
  </thead>

  <tbody>
    <% @inputs.each do |input| %>
      <% if current_user.groups.first.name == input.group_name %>
      <tr>
        <td><%= input.group_name %></td>
        <td><%= input.money_left %></td>
        <td><%= input.vaccines %></td>
        <td><%= input.ads %></td>
        <td><%= input.school_off %></td>
        <td><%= input.days %></td>
        <td><%= link_to 'Show', input %></td>
        <td><%= link_to 'Edit', edit_input_path(input) %></td>
        <td><%= link_to 'Destroy', input, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Input', new_input_path %>
</div>
