<h1>Control Panel</h1>

<table class="table table-condensed">
    <tr>
        <td><%= link_to 'Forum', root_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Classlist', root_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Groups', root_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Gradebook', root_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Calendar', root_path, class: 'btn btn-lg' %></td>
    </td>
</table>
