<ul class="nav navbar-nav">
  <li><%= link_to 'Forum', posts_path %></li>
  <li><%= link_to 'Classlist', users_path %></li>
  <li><%= link_to 'Groups', groups_path %></li>
  <li><%= link_to 'Memberships', memberships_path %></li>
  <li><%= link_to 'Gradebook', root_path %></li>
  <li><%= link_to 'Library', root_path %></li>
  <li><%= link_to 'Calendar', root_path %></li>
</ul>
