<h1>Control Panel</h1>

<table class="table table-condensed">
    <tr>
        <td><%= link_to 'Forum', instructor_index_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Classlist', users_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Groups', groups_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Memberships', memberships_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Gradebook', instructor_index_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Calendar', instructor_index_path, class: 'btn btn-lg' %></td>
    </td>
</table>
