<h1>Control Panel</h1>

<table class="table table-condensed">
    <tr>
        <td><%= link_to 'Group', root_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Forum', posts_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Simulate', root_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Calendar', root_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Feedback', root_path, class: 'btn btn-lg' %></td>
    </tr>
</table>
