<ul class="nav navbar-nav">
  <li><%= link_to 'Forum', posts_path %></li>
  <li><%= link_to 'Input', inputs_path %></li>
  <li><%= link_to 'Simulate', simulations_path %></li>
  <li><%= link_to 'Output', outputs_path %></li>
  <li><%= link_to 'Calendar', root_path %></li>
  <li><%= link_to 'Library', root_path %></li>
  <li><%= link_to 'Feedback', root_path %></li>
</ul>

