<h1>Control Panel</h1>

<hr>

<%= link_to 'Group', root_path, class: 'btn btn-lg' %><br />
<%= link_to 'Forum', posts_path, class: 'btn btn-lg' %><br />
<%= link_to 'Simulate', simulations_path, class: 'btn btn-lg' %><br />
<%= link_to 'Calendar', root_path, class: 'btn btn-lg' %><br />
<%= link_to 'Library', root_path, class: 'btn btn-lg' %><br />
<%= link_to 'Feedback', root_path, class: 'btn btn-lg' %><br />
