<div class="panel-heading">Control Panel</div>

<div class="panel-body">
  <%= link_to 'Forum', posts_path, class: 'btn btn-lg' %><br />
  <%= link_to 'Input', inputs_path, class: 'btn btn-lg' %><br />
  <%= link_to 'Simulate', simulations_path, class: 'btn btn-lg' %><br />
  <%= link_to 'Output', outputs_path, class: 'btn btn-lg' %><br />
  <%= link_to 'Calendar', root_path, class: 'btn btn-lg' %><br />
  <%= link_to 'Library', root_path, class: 'btn btn-lg' %><br />
  <%= link_to 'Feedback', root_path, class: 'btn btn-lg' %><br />
  <%= link_to 'Tutorial', root_path, class: 'btn btn-lg' %><br />
</div>
