<h1>Control Panel</h1>

<table class="table table-condensed">
    <tr>
        <td><%= link_to 'Group', student_index_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Forum', student_index_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Simulate', student_index_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Calendar', student_index_path, class: 'btn btn-lg' %></td>
    </tr>
    <tr>
        <td><%= link_to 'Feedback', student_index_path, class: 'btn btn-lg' %></td>
    </tr>
</table>
