<% get_session_course %>

<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <% if @session_course %>
    <div class="field">
      <%= f.label :course_id %><br />
      <%= f.collection_select :course_id, Course.find(@session_course.id), :id, :name %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :course_id %><br />
      <%= f.collection_select :course_id, Course.by_teacher(current_user.email), :id, :name %>
    </div>
  <% end %>
  
  <br />
  <div class="actions">
    <%= f.submit 'Create Group', class: 'btn btn-sm' %><br />
  </div>
<% end %>
