
<div class="main">

<% if current_user.memberships.present? %>
  <div class = "table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Course</th>
          <th>Controls</th>
        </tr>
      </thead>

      <tbody>
        <% @groups.each do |group| %>
          <% if current_user.groups.exists?(:id => group.id) %>
            <tr>
              <td><%= group.name %></td>
              <td>
                <% Course.all.each do |course| %>
                  <% if course.id == group.course_id %>
                    <%= course.name %>
                  <% end %>
                <% end %>
              </td> 
              <td><%= link_to 'Show', group %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>

  <p>You do not belong to any groups. Please contact your instructor with a request to be added to a group!</p>

<% end %>

<hr />
<%= button_to 'Back', :back, method: :get, class: 'btn btn-sm' %>
<% if current_user.instructor? %>
  <%= button_to 'New Group', new_group_path, method: :get, class: 'btn btn-sm' %>
<% end %>

</div>
