<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Mem one:</strong>
  <%= @group.mem_one %>
</p>

<p>
  <strong>Mem two:</strong>
  <%= @group.mem_two %>
</p>

<p>
  <strong>Mem three:</strong>
  <%= @group.mem_three %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
