<% session[:group_id] = @group.id %>

<div class="panel-heading">Group Details</div>
 
<div class="panel-body"> 

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Course</th>
        <th># of Members</th>
        <th>Current Sim Period</th>
        <th>Available Sim Period</th>
        <th>Calendar</th> 
      </td>
    </thead>
    <tbody>
      <tr>
        <td><%= @group.name %></td>
        <td>
          <% Course.all.each do |course| %>
            <% if course.id == @group.course_id %>
              <%= course.name %>
            <% end %>
          <% end %>
        </td>
        <td><%= Membership.belongs_to_group(@group.id).count %></td>
        <td><%= @count %></td>
        <td><%= Course.find(@group.course_id).days %></td>
        <td><%= link_to 'Calendar', calendar_index_path %></td>
      </tr>
    </tbody>
  </table>  

  <hr />
  <h2>Members</h2>
  <table class="table table-striped table-hover">
      <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% User.in_this_group(@group.id).each do |user| %>
          <% if !user.instructor? && !user.admin? %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  <hr />
  <h2>Inputs</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Vaccines</th>
        <th>Advertising</th>
        <th>Schools closed?</th>
        <th>Simulation Days</th>
        <th>Remaining Budget</th>
        <th colspan="2">Controls</th>
      </tr>
    </thead>

    <tbody>
      <% Input.belongs_to_group(@group.name).each do |input| %>
        <tr>
          <td><%= input.vaccines %></td>
          <td><%= input.ads %></td>
          <td><%= input.school_off %></td>
          <td><%= input.days %></td>
          <td><%= input.money_left %></td>
          <% if Output.belongs_to_input(input.id).empty? %>
            <td><%= link_to 'Edit', edit_input_path(input) %></td>
          <% else %>
            <td>Locked</td>
          <% end %>
          <% unless Output.belongs_to_input(input.id).present? %>
            <% session[:input_id] = input.id %>
            <td><%= link_to 'Run', outputs_path, :onclick=>"$('#showLoad').toggle();" %></td>
          <% else %>
            <% output = Output.belongs_to_input(input.id).first %>
            <td><%= link_to 'Result', output_path(output) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= button_to 'New Input', new_input_path(group_id: @group.id), method: :get, class: 'btn btn-sm' %><br />
  
  <div id="showLoad" style="display: none">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <h1><i class="fa fa-spinner fa-spin" style="font-size:48px;color:red;"></i>  Simulation is running. Please stand by!</h1>
  </div>

  <hr />
  <%= button_to 'Back', :back, method: :get, class: 'btn btn-sm' %>
</div>
