<%= form_for(@code) do |f| %>
  <% if @code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code.errors.count, "error") %> prohibited this code from being saved:</h2>

      <ul>
      <% @code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <div class="field">
    <%= f.label :student %>
    <%= f.number_field :student, min: 0, max: 9999999 %>
  </div>

  <div class="field">
    <%= f.label :instructor %>
    <%= f.number_field :instructor, min: 0, max: 9999999 %>
  </div>

  <br />

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-sm btn-primary' %><br /><br />
  </div>
<% end %>
