<% get_session_course %>

<%= form_for(@enrollment) do |f| %>
  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% @enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% query = User.in_a_course(@session_course.id) %>
  <% inverse = User.where('id not in (?)', query.pluck(:id)).student %>

  <% if @session_course.present? %>
    <div class="field">
      <%= f.label :user_id %><br />
      <%= f.collection_select :user_id, inverse, :id, :name, prompt: true %>
    </div><br />

    <div class="field">
      <%= f.label :course_id %><br />
      <%= f.collection_select :course_id, Course.where(:id => @session_course.id), :id, "name_crn", prompt: true %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :user_id %><br />
      <%= f.collection_select :user_id, User.student, :id, :name, prompt: true %>
    </div><br />

    <div class="field">
      <%= f.label :course_id %><br />
      <%= f.collection_select :course_id, Course.by_teacher(current_user.email), :id, "name_crn", prompt: true %>
    </div>
  <% end %>

    <br />
    <div class="actions">
      <%= f.submit 'Create Enrollment', class: 'btn btn-sm btn-primary' %><br />
    </div>
<% end %>
