
<div class="main">
  <h2 class="main-heading">Enrollment</h2>
  <div class = "table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>Course Name</th>
          <th>CRN</th>
          <th>Created at</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <% if current_user.instructor? %>
        <% @enrollments = @enrollments.with_this_instructor(current_user.email) %>
      <% end %>
      <tbody>
        <% @enrollments.each do |enrollment| %>
          <tr>
            <td><%= enrollment.user.name %></td>
            <td><%= enrollment.course.name %></td>
            <td><%= enrollment.course.crn %></td>
            <td><%= enrollment.created_at %></td>
            <td><%= link_to 'Show', enrollment %></td>
            <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
            <td><%= link_to 'Delete', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<hr />
<%= button_to 'New Enrollment', new_enrollment_path, method: :get, class: 'btn btn-sm' %>

</div>
