<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :crn %><br />
    <%= f.number_field :crn, min: 1, max: 99999, step: 1 %>    
  </div>

  <div class="field">
    <%= f.label :instructor %><br />
    <%= f.text_field :instructor, value: current_user.name, readonly: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, value: current_user.email, readonly: true %>
  </div>

  <br />

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-sm btn-primary' %><br /><br />
  </div>
<% end %>