
%h3= @post.title
%p= @post.content

%hr/

#comments
	%h3
		= @post.comments.count
		Comments
	= render @post.comments

	%h4 Reply to thread
	= render "comments/form"

%br/
%br/
%hr/

- if can? :update, @post
	= button_to "Edit Post", edit_post_path(@post), class: "btn btn-sm btn-primary", :method => :get
	= button_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Delete for real?" }, class: "btn btn-sm btn-primary"
%br/	
%br/
= button_to "Back to all posts", posts_path, class: "btn btn-sm btn-primary", :method => :get
