.panel-body#post_content
	%h3= @post.title
	%p= @post.content

	#comments
		%h3
			= @post.comments.count
			Comments
		= render @post.comments

		%h4 Reply to thread
		= render "comments/form"

	%br/
	%br/
	
	- if can? :update, @post
		= link_to "Edit", edit_post_path(@post), class: "button"
		= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Delete for real?" }, class: "button"
	%br/
	= link_to "Back to all posts", posts_path
