<% groupName = current_user.memberships.first.group.name %>
<% count = Output.num_uniq_days(groupName).size / 250 %>

<div class="panel-heading">Output for <%=groupName%>, Day <%= Output.max_day(groupName) %></div>

<div class="container">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 col-lg-4 text-center">
        <h3>Population</h3>
        <%= link_to image_tag("/assets/images/"+groupName+"/population.jpg"),"#population", class: "fancybox" %>
        <div style="display:none">
          <div id="population">
            <%=image_tag("/assets/images/"+groupName+"/population.jpg", class:"img-responsive img-center population")%>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 text-center">
        <h3><%=link_to "Percentage Sick","#curPercentage",class: "fancybox"%></h3>
          <div style="display:none;">
            <div id="curPercentage">
              <%=image_tag("/assets/images/"+groupName+"/percentage" + count.to_s + ".jpg")%>
            </div>
          </div>
         <%= link_to image_tag("/assets/images/"+groupName+"/percentage.gif"),"#percentage", class: "fancybox" %>
           <div style="display:none">
             <div id="percentage">
               <%=image_tag("/assets/images/"+groupName+"/percentage.gif")%>
             </div>
           </div>
       </div>
       <div class="col-md-6 col-lg-4 text-center">
          <h3>Actual Sick</h3>
          <%= link_to image_tag("/assets/images/"+groupName+"/sick.gif"),"#sick", class: "fancybox" %>
          <div style="display:none;">
              <div id="sick">
                <%=image_tag("/assets/images/"+groupName+"/sick.gif")%>
              </div>
          </div>
       </div>
       <div class="col-md-6 col-lg-4 text-center">
        <h3>Sick & Immune</h3>
          <%= link_to image_tag("/assets/images/"+groupName+"/siChart.jpg"),"#sickChart", class: "fancybox" %>
          <div style="display:none;">
            <div id="sickChart">
              <%=image_tag("/assets/images/"+groupName+"/siChart.jpg")%>
            </div>
          </div>
       </div>
       <div class="col-md-6 col-lg-4 text-center">
        <h3>Population Pie</h3>
        <%= link_to image_tag("/assets/images/"+groupName+"/PopPieChart.jpg"),"#PPC", class: "fancybox" %>
        <div style="display:none;">
          <div id="PPC">
            <%=image_tag("/assets/images/"+groupName+"/PopPieChart.jpg")%>
          </div>
        </div>
       </div>
       <div class="col-md-6 col-lg-4 text-center">
        <h3>Sick Pie</h3>
        <%= link_to image_tag("/assets/images/"+groupName+"/SicPieChart.jpg"),"#SPC", class: "fancybox" %>
        <div style="display:none;">
          <div id="SPC">
            <%=image_tag("/assets/images/"+groupName+"/SicPieChart.jpg")%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>

