<% get_session_group %>
<% groupName = @session_group.name %>
<% count = Output.num_uniq_days(groupName).size / 250 %>
<div class="main-heading">Output for <%=groupName%>, Day <%= Output.max_day(groupName) %></div>
<div class="container">
  <div class="main-body">
      <div class="col-sm-10 col-md-10 col-lg-10">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th>Total Population</th>
              <th>Sick</th>
              <th>Immune</th>
              <th>Budget Remaining</th>
              <th>Vaccines Remaining</th>
              <th>Vaccines $Spent</th>
              <th>Advertising $Spent</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @population %></td>
              <td><%= @sick %></td>
              <td><%= @immune %></td>
              <td><%= @budget_rem %></td>
              <td><%= @vaccines_rem %></td>
              <td><%= @budget_vaccs %></td>
              <td><%= @budget_ads %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr/>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-md-5 col-lg-4 text-center">
        <h3>Population</h3>
        <%= link_to image_tag("/assets/images/"+groupName+"/population.jpg"),"#population", class: "fancybox img-responsive" %>
        <div style="display:none">
          <div id="population">
            <%=image_tag("/assets/images/"+groupName+"/population.jpg", class:"img-responsive img-center population")%>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-md-5 col-lg-3 text-center">
        <h3><%=link_to "Percentage Sick","#curPercentage",class: "fancybox"%></h3>
          <div style="display:none;">
            <div id="curPercentage">
              <%=image_tag("/assets/images/"+groupName+"/percentage" + count.to_s + ".jpg")%>
            </div>
          </div>
         <%= link_to image_tag("/assets/images/"+groupName+"/percentage.gif"),"#percentage", class: "fancybox" %>
           <div style="display:none">
             <div id="percentage">
               <%=image_tag("/assets/images/"+groupName+"/percentage.gif")%>
             </div>
           </div>
       </div>
       <div class="col-sm-10 col-md-5 col-lg-3 text-center">
          <h3>Actual Sick</h3>
          <%= link_to image_tag("/assets/images/"+groupName+"/sick.gif"),"#sick", class: "fancybox" %>
          <div style="display:none;">
              <div id="sick">
                <%=image_tag("/assets/images/"+groupName+"/sick.gif")%>
              </div>
          </div>
       </div>
       <div class="col-sm-10 col-md-5 col-lg-4 text-center">
        <h3>Sick & Immune</h3>
          <%= link_to image_tag("/assets/images/"+groupName+"/siChart.jpg"),"#sickChart", class: "fancybox" %>
          <div style="display:none;">
            <div id="sickChart">
              <%=image_tag("/assets/images/"+groupName+"/siChart.jpg")%>
            </div>
          </div>
       </div>
       <div class="col-sm-10 col-md-5 col-lg-3 text-center">
        <h3>Population Pie</h3>
        <%= link_to image_tag("/assets/images/"+groupName+"/PopPieChart.jpg"),"#PPC", class: "fancybox" %>
        <div style="display:none;">
          <div id="PPC">
            <%=image_tag("/assets/images/"+groupName+"/PopPieChart.jpg")%>
          </div>
        </div>
       </div>
       <div class="col-sm-10 col-md-5 col-lg-3 text-center">
        <h3>Sick Pie</h3>
        <%= link_to image_tag("/assets/images/"+groupName+"/SicPieChart.jpg"),"#SPC", class: "fancybox" %>
        <div style="display:none;">
          <div id="SPC">
            <%=image_tag("/assets/images/"+groupName+"/SicPieChart.jpg")%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10">
      <hr>
      <%= button_to 'Back', :back, method: :get, class: 'btn btn-sm' %>
    </div>
  </div>
</div>