<div class="main"> 
  <h2 class="main-heading">Results for <%= @output.group_name %>: Input #<%= @count %></h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Vaccines</th>
        <th>Advertising</th>
        <th>Schools closed?</th>
        <th>Simulation Days</th>
        <th>Day Span</th>
        <th>Remaining Budget</th>
      </td>
    </thead>
    <tbody>
      <tr>
        <td><%= @input.vaccines %></td>
        <td><%= @input.ads %></td>
        <td><%= @input.school_off %></td>
        <td><%= @input.days %></td>
        <td><%= @day_span - @input.days %> - <%= @day_span %></td>
        <td><%= @input.money_left %></td>
      </tr>
    </tbody>
  </table>  

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Budget Remaining</th>
        <th>Vaccine Expense</th>
        <th>Advertising Expense</th>
        <th>Vaccines Remaining</th>
        <th>Population</th>
        <th>Sick</th>
        <th>Immune</th>
      </td>
    </thead>
    <tbody>
      <tr>
        <td><%= @output.money_left %></td>
        <td><%= @vaccs_money %></td>
        <td><%= @output.money_spent_ads %></td>
        <td><%= @vaccs_left %></td>
        <td><%= @population %></td>
        <td><%= @sick %></td>
        <td><%= @immune %></td>
      </tr>
    </tbody>
  </table>

  <hr />

  <div class="row">
      <div class="col-md-6 col-lg-4 text-center">
        <h3><%=link_to "Percentage Sick","#curPercentage",class: "fancybox"%></h3>
          <div style="display:none;">
            <div id="curPercentage">
              <%=image_tag("/assets/images/"+@output.group_name+"/percentage" + @count.to_s + ".jpg")%>
            </div>
          </div>
         <%= link_to image_tag("/assets/images/"+@output.group_name+"/percentage" + @count.to_s + ".jpg"),"#percentage", class: "fancybox" %>
           <div style="display:none">
             <div id="percentage">
               <%=image_tag("/assets/images/"+@output.group_name+"/percentage" + @count.to_s + ".jpg")%>
             </div>
           </div>
       </div>
       <div class="col-md-6 col-lg-4 text-center">
          <h3>Actual Sick</h3>
          <%= link_to image_tag("/assets/images/"+@output.group_name+"/sick" + @count.to_s + ".jpg"),"#sick", class: "fancybox" %>
          <div style="display:none;">
              <div id="sick">
                <%=image_tag("/assets/images/"+@output.group_name+"/sick" + @count.to_s + ".jpg")%>
              </div>
          </div>
       </div>
    </div>


  <hr />
  <%= button_to 'Back', :back, method: :get, class: 'btn btn-sm btn-primary' %>
</div>