<p id="notice"><%= notice %></p>

<p>
  <strong>Group name:</strong>
  <%= @output.group_name %>
</p>

<p>
  <strong>Money left:</strong>
  <%= @output.money_left %>
</p>

<p>
  <strong>Money spent vaccines:</strong>
  <%= @output.money_spent_vaccines %>
</p>

<p>
  <strong>Money spent ads:</strong>
  <%= @output.money_spent_ads %>
</p>

<p>
  <strong>Vaccs left:</strong>
  <%= @output.vaccs_left %>
</p>

<p>
  <strong>Population:</strong>
  <%= @output.population %>
</p>

<p>
  <strong>Sick:</strong>
  <%= @output.sick %>
</p>

<p>
  <strong>Immune:</strong>
  <%= @output.immune %>
</p>

<p>
  <strong>Pop age0:</strong>
  <%= @output.pop_age0 %>
</p>

<p>
  <strong>Sick age0:</strong>
  <%= @output.sick_age0 %>
</p>

<p>
  <strong>Pop age1:</strong>
  <%= @output.pop_age1 %>
</p>

<p>
  <strong>Sick age1:</strong>
  <%= @output.sick_age1 %>
</p>

<p>
  <strong>Pop age2:</strong>
  <%= @output.pop_age2 %>
</p>

<p>
  <strong>Sick age2:</strong>
  <%= @output.sick_age2 %>
</p>

<p>
  <strong>Day:</strong>
  <%= @output.day %>
</p>

<p>
  <strong>Cityid:</strong>
  <%= @output.cityID %>
</p>

<%= link_to 'Edit', edit_output_path(@output) %> |
<%= link_to 'Back', outputs_path %>
