<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>FluSim</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user.present? %>
    <%-#--- BEGIN NAVIGATION BAR ----%>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "FluSim", root_path, class: "navbar-brand" %>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <%= render whatAmI[1] %>
                <div class = "navbar-right">
                    <% if current_user.present? %>
                        <p class="navbar-text"><%= current_user.name%> (<%=whatAmI[0] %>)</p>
                        <%= link_to "Sign Out", destroy_user_session_path, id: "navbtn", class: "btn btn-success", method: :delete %>
                    <% end %>
                </div>
            </div>
        </div>
    </nav>
    <%-#--- END NAVIGATION BAR ----%>
<% end %>

<%-#--- BEGIN MAIN CONTAINER ----%>
<div id="main-container" class="container">
    <%-#--- BEGIN FIRST ROW ----%>
    <div id="main">
        <div class="panel panel-default">
          <%= yield %>
        </div>
    </div>
    <%-#--- END FIRST ROW ----%>
</div>
<%-#--- END MAIN CONTAINER ----%>

<%-#--- BEGIN FOOTER BAR ----%>
<% if notice || alert %>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="alertnotice">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>
    </nav>
<% end %>
<%-#--- END FOOTER BAR ----%>

</body>
</html>
