<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>FluSim</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user.present? %>
    <%-#--- BEGIN NAVIGATION BAR ----%>
    <nav class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <li><%= link_to "FluSim", root_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-collapse">
                    <% if current_user.admin? %>
                        <li><%= button_to 'Access', root_path, method: :get, class: 'btn btn-sm', id: 'navbtn' %></li>
                        <li><%= button_to 'Users', users_path, method: :get, class: 'btn btn-sm', id: 'navbtn' %></li>
                    <% elsif current_user.instructor? %>
                        <li><%= button_to 'Classes', courses_path, method: :get, class: 'btn btn-sm', id: 'navbtn' %></li>
                        <li><%= button_to 'Forum', posts_path, method: :get, class: 'btn btn-sm', id: 'navbtn' %></li>
                        <li><%= button_to 'Calendar', root_path, method: :get, class: 'btn btn-sm', id: 'navbtn' %></li>
                    <% else %>
                        <li><%= button_to 'Forum', posts_path, method: :get, class: 'btn btn-sm', id: 'navbtn' %></li>
                        <li><%= button_to 'Input', inputs_path, method: :get, class: 'btn btn-sm', id: 'navbtn' %></li>
                        <li><%= button_to 'Simulate', simulations_path, method: :get, class: 'btn btn-sm', id: 'navbtn' %></li>
                        <li><%= button_to 'Output', outputs_path, method: :get, class: 'btn btn-sm', id: 'navbtn' %></li>
                        <li><%= button_to 'Calendar', root_path, method: :get, class: 'btn btn-sm', id: 'navbtn' %></li>
                        <li><%= button_to 'Feedback', root_path, method: :get, class: 'btn btn-sm', id: 'navbtn' %></li>
                    <% end %>
                    <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-sm', id: 'navbtn' %></li>
                </ul>
            </div>
        </div>
    </nav>
    <%-#--- END NAVIGATION BAR ----%>
<% end %>

<%-#--- BEGIN MAIN CONTAINER ----%>
<div id="main-container" class="container">
    <%-#--- BEGIN FIRST ROW ----%>
    <div class="row">
        <div id="main" class="col-xs-6 col-md-9">
            <div class="panel panel-default">
                <%= yield %>
            </div>
        </div>
    </div>
    <%-#--- END FIRST ROW ----%>
</div>
<%-#--- END MAIN CONTAINER ----%>

<%-#--- BEGIN FOOTER BAR ----%>
<% if notice || alert %>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="alertnotice">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>
    </nav>
<% end %>
<%-#--- END FOOTER BAR ----%>

</body>
</html>
